.watches, .phones, .Video_Games{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	padding: 20px;
}

.img-fluid{
	width: 100%;
	height: auto;
}

.container:nth-child(2){
	margin-top: 30px;
}
.container:nth-child(3){
	margin-top: 30px;
}
h4{
	font-size: .9rem;
	font-weight: 400;
	font-family: "Roboto Condensed", sans-serif;

}
.navigation{
	display: flex;
	justify-content: space-between;
	padding:10px 30px;
}
.wrapper{
  padding: 100px 100px;
}

@media all and (min-width:768px ){
	.container .row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.video-stock, .phone-stock, .watch-stock{
	margin-right: 0px;
}


@media all (min-width: 1200px){
	.container .watch-section .watch-stock{
		display: none;
	}
}

.watch-section .watch-stock{
	margin-right: 0px;
}

@media(max-width: 766px){
	footer ul{
		text-align:center;
	}
}