.watches, .phones, .Video_Games{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	padding: 20px;
}

/*.watches, .phones, .Video_Games img{
	width: 100%;
	height: auto;
}*/

.img-fluid{
	width: 100%;
	height: auto;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	align-items: center;
	width: 60%;
}