%clearfix:after {
	display:block;
	clear:both;
	content:'';
}

//----- Grid System
$cols: 12;
$grid-spacing:3%;

.row {
	@extend %clearfix;

	& + & {
		margin-top:$grid-spacing;
	}
}

[class^="col-"] {
	float:left;
	margin-right:$grid-spacing;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
	&:last-child {
		margin-right:0%;
	}
}

.container {
	width: 100%;
	max-width: 540px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 1rem;
	& {
		@media only screen and (min-width: 576px){
			max-width: 740px;
		}

		@media only screen and (min-width: 768px){
			max-width: 940px;
		}

		@media only screen and (min-width: 992px){
			max-width: 1140px;
		}
	}
}

// #{$breakpoint-small} - xs
@media only screen and (min-width: 576px){
		@for $i from 1 through $cols {
		.col-sm-#{$i}{
			width: (100% / ($cols/$i)) - (($grid-spacing * ($cols - $i)) /$cols);
		}
	}
}

// #{$breakpoint-medium} - sm
@media only screen and (min-width: 768px){
		@for $i from 1 through $cols {
		.col-md-#{$i}{
			width: (100% / ($cols/$i)) - (($grid-spacing * ($cols - $i)) /$cols);
		}
	}
}

// @media #{$breakpoint-large}
@media only screen and (min-width: 992px){
		@for $i from 1 through $cols {
		.col-lg-#{$i}{
			width: (100% / ($cols/$i)) - (($grid-spacing * ($cols - $i)) /$cols);
		}
	}
}

// @media #{$breakpoint-xl}
@media only screen and (min-width: 1200px){
		@for $i from 1 through $cols {
		.col-xl-#{$i}{
			width: (100% / ($cols/$i)) - (($grid-spacing * ($cols - $i)) /$cols);
		}
	}
}






