%clearfix:after {
	display:block;
	clear:both;
	content:'';
}

//----- Grid System
$cols: 12;
$grid-spacing:3%;
$breakpoint-xs: "only screen and (max-width: 575.98px)";
$breakpoint-sm: "only screen and (min-width: 576px)";
$breakpoint-md: "only screen and (min-width: 768px)";
$breakpoint-lg: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";

$breakpoint-prefixes: (
  $breakpoint-xs: "xs",
	$breakpoint-sm: "sm",
	$breakpoint-md: "md",
	$breakpoint-lg: "lg",
	$breakpoint-xl: "xl",
);

.row {
	@extend %clearfix;

	& + & {
		margin-top:$grid-spacing;
	}
}

[class^="col-"] {
	float:left;
	margin-right:$grid-spacing;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
	&:last-child {
		margin-right:0%;
	}
}

.container {
	width: 100%;
	max-width: 540px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 1rem;
	& {
		@media #{$breakpoint-sm} {
			max-width: 740px;
		}

		@media #{$breakpoint-md} {
			max-width: 940px;
		}

		@media #{$breakpoint-lg} {
			max-width: 1140px;
		}
	}
}
 
// Create the Grid
@each $name, $value in $breakpoint-prefixes {
  @media #{$name}{
		@for $i from 1 through $cols {
			.col-#{$value}-#{$i}{
				width: (100% / ($cols/$i)) - (($grid-spacing * ($cols - $i)) /$cols);
			}
		}
	}
}