$color-backgrounds: #F9F9F9;
$orange: #F39856;
$blue: #0076A3;
$red: #D14348;
$yellow:#FFBA00;
$purple:#6D73C2;
$font-main: 'Merriweather', Helvetica, sans-serif;
$grid-max-width: 1200px;
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";